@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto !important;
  @apply text-sm;
  @apply tracking-wide;
  @apply antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

.carousel-indicators {
  bottom: 3%;
}
.carousel-indicators [data-bs-target] {
  background-color: #dfd6d6;
  width: 15px !important;
  border-radius: 50%;
  height: 14px !important;
}
.carousel-indicators .active {
  background-color: #000 !important;
}

#radial-hero {
  background: rgb(30, 215, 42);
  background: linear-gradient(210deg, rgba(30, 215, 42, 1) 0%, rgba(15, 162, 149, 1) 47%, rgba(0, 108, 255, 1) 100%);
}

.radial-hero-lg {
  background: rgb(30, 215, 42);
  background: linear-gradient(210deg, rgba(30, 215, 42, 1) 0%, rgba(15, 162, 149, 1) 47%, rgba(0, 108, 255, 1) 100%);
}
