<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account Grocery G6</title>
</head>
<body>
    <div>
        <h2>Selamat Datang Di Aplikasi Web</h2>
        <p>Hai {{name}}, klik tombol di bawah untuk melanjutkan verifikasi data.</p>
        <a href={{link}} target="_blank">
            <button style="background-color: rgb(50, 50, 238); padding: 4px; color: white">
                Aktivasi akun 
            </button>
        </a>
    </div>
</body>
</html>