<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account Grocery G6</title>
</head>
<body>
    <div>
        <h2>Welcome To Grocery G6</h2>
        <p>Hai {{name}}, please click the button in order to continue your account verification process</p>
        <a href={{link}} target="_blank">
            <button style="background-color: rgb(50, 50, 238); padding: 4px; color: white">
                Activate Account
            </button>
        </a>
        <p>If this is not you, please ignore this email</p>
    </div>
</body>
</html>